<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString5"
            connectionString="Data Source=DESKTOP-D3V5KGU\DINH;Initial Catalog=QL_SV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString6"
            connectionString="Data Source=DESKTOP-D3V5KGU\DINH_0;Initial Catalog=QL_SV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
